@(title: String, user: User, org: Organization)(implicit request: RequestHeader, messages: Messages)

@import helper._

@main(title) {
    <!-- User scripts -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="@routes.Assets.at("../../../public/js/plugins/tables/datatables/datatables.min.js")"></script>
        <!-- /theme JS files -->


} {


    <body class="navbar-bottom" data-ws-url-admin-dashboard="@controllers.routes.ApplicationController.dashBoardSocket().webSocketURL()">


        @partials._navbarMain(user)

            <!-- Page header -->
        <div class="page-header">

            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-home"></i> <span class="text-semibold">Groups</span> </h4>
                </div>

            </div>
        </div>
            <!-- /page header -->


            <!-- Page container -->
        <div class="page-container">

                <!-- Page content -->
            <div class="page-content">

                @partials._sidebarMain()

                    <!-- Main content -->
                <div class="content-wrapper">

                        <!-- Simple panel -->
                    <div class="panel panel-flat">
                        <div class="panel-heading">

                            <a type="button" class="btn btn-default btn-sm" href="@routes.VehicleController.createNew()">
                                Create <i class="icon-play3 position-right"></i></a>

                        </div>

                        <div class="panel-body">


                            <div class="row">
                                <div class="col-md-6">
                                    <div class="panel border-left-lg border-left-primary">
                                        <div class="panel-body">
                                            <div class="row">
                                                <div class="col-md-8">
                                                    <h6 class="no-margin-top"><a href="@routes.OrganizationController.details(org.id)">@org.name</a></h6>
                                                    <p class="mb-15">id : @org.id</p>

                                                </div>

                                                <div class="col-md-4">
                                                    <ul class="list task-details">
                                                        <li>28 January, 2015</li>
                                                        <li><a href="#">Eternity app</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="panel-footer panel-footer-condensed">
                                            <div class="heading-elements">
                                                <span class="heading-text">
                                                    id: <span class="text-semibold">@routes.OrganizationController.details(org.id)</span></span>

                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>


                        </div>
                    </div>
                        <!-- /simple panel -->


                </div>
                    <!-- /main content -->

            </div>
                <!-- /page content -->

        </div>
            <!-- /page container -->


        @partials._footer(user)

    </body>


}