@(userDTO: User)(implicit request: RequestHeader, messages: Messages)


<!-- Main navbar -->
<div class="navbar navbar-inverse">
    <div class="navbar-header">
        <a class="navbar-brand" href="@controllers.routes.ApplicationController.index()"><img src="@routes.Assets.at("images/logo_light.png")" alt=""></a>

        <ul class="nav navbar-nav pull-right visible-xs-block">
            <li><a data-toggle="collapse" data-target="#navbar-mobile"><i class="icon-tree5"></i></a></li>
            <li><a class="sidebar-mobile-main-toggle"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>
    </div>

    <div class="navbar-collapse collapse" id="navbar-mobile">
        <ul class="nav navbar-nav">
            <li><a class="sidebar-control sidebar-main-toggle hidden-xs"><i class="icon-paragraph-justify3"></i></a></li>
        </ul>

        <ul class="nav navbar-nav navbar-right">

            <li class="dropdown dropdown-user">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <img src="@userDTO.avatarURL.getOrElse("assets/images/image.png")" alt="">
                    <span>@userDTO.fullName.getOrElse("")</span>
                    <i class="caret"></i>
                </a>

                <ul class="dropdown-menu dropdown-menu-right">
                    <li><a href="#"><i class="icon-user-plus"></i> My profile</a></li>
                    <li><a href="#"><span class="badge badge-warning pull-right">
                                    58</span> <i class="icon-comment-discussion"></i> Messages
                    </a>
                    </li>
                    <li class="divider"></li>
                    <li><a href="#"><i class="icon-cog5"></i> Account settings</a></li>
                    <li><a href="@controllers.routes.ApplicationController.signOut()"><i class="icon-switch2"></i>
                        Logout</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</div>
    <!-- /main navbar -->
