@()(implicit request: RequestHeader, messages: Messages)

<!-- Main sidebar -->
<div class="sidebar sidebar-main sidebar-default">
    <div class="sidebar-content">

            <!-- Main navigation -->
        <div class="sidebar-category sidebar-category-visible">
            <div class="category-title h6">
                <span>Main navigation</span>
                <ul class="icons-list">
                    <li><a href="#" data-action="collapse"></a></li>
                </ul>
            </div>

            <div class="category-content no-padding">
                <ul class="navigation navigation-main navigation-accordion">

                        <!-- Main -->
                    <li class="navigation-header"><span>Main</span> <i class="icon-menu" title="Main pages"></i></li>

                    <li class=@{
                        if(request.path == controllers.routes.ApplicationController.index().toString) "active" else ""
                    }>
                        <a href="@controllers.routes.ApplicationController.index()">
                            <i class="icon-home4"></i> <span>Dashboard</span>
                        </a>
                    </li>

                    <li class=@{
                        if(request.path == controllers.routes.VehicleController.list(None, None).toString) "active" else ""
                    }>
                        <a href="@controllers.routes.VehicleController.list(None, None)">
                            <i class="icon-list-unordered"></i> <span>Vehicles</span>
                        </a>
                    </li>

                    <li class=@{
                        if(request.path == controllers.routes.OrganizationController.list(None, None).toString) "active" else ""
                    }>
                        <a href="@controllers.routes.OrganizationController.list(None, None)">
                            <i class="icon-list-unordered"></i> <span>Organizations</span>
                        </a>
                    </li>


                        <!-- /main -->

                </ul>
            </div>
        </div>
            <!-- /main navigation -->

    </div>
</div>
    <!-- /main sidebar -->
