@(createGroupForm: Form[forms.CreateVehicleForm.Data], title: String, user: User)(implicit request: RequestHeader, messages: Messages)

    @import helper._

    @main(title) {
        <!-- User scripts -->

        <!-- Theme JS files -->
        <script type="text/javascript" src="@routes.Assets.at("js/plugins/forms/inputs/typeahead/typeahead.bundle.min.js")"></script>
            <!-- /theme JS files -->


    } {


        <body class="navbar-bottom" data-ws-url-admin-dashboard="@controllers.routes.ApplicationController.dashBoardSocket().webSocketURL()">


            @partials._navbarMain(user)

                <!-- Page header -->
            <div class="page-header">

                <div class="page-header-content">
                    <div class="page-title">
                        <h4><i class="icon-home"></i> <span class="text-semibold">Groups</span> </h4>
                    </div>

                </div>
            </div>
                <!-- /page header -->


                <!-- Page container -->
            <div class="page-container">

                    <!-- Page content -->
                <div class="page-content">

                    @partials._sidebarMain()

                        <!-- Main content -->
                    <div class="content-wrapper">

                            <!-- Simple panel -->
                        <div class="panel panel-flat">
                            <div class="panel-heading">

                                <button type="button" class="btn btn-default btn-sm">
                                    Back to list <i class="icon-back1 position-left"></i></button>

                            </div>

                            <div class="panel-body">


                                    <!-- Marketing campaigns -->
                                <div class="panel panel-flat">
                                    <div class="panel-heading">
                                        <h6 class="panel-title">Add new vehicle </h6>
                                    </div>


                                    @request.flash.get("error").map { msg =>
                                        <div class="col-md-6 col-md-offset-3 alert alert-danger alert-error">
                                            <a href="#" class="close" data-dismiss="alert">&times;</a>
                                            <strong>@Messages("error")</strong> @msg
                                        </div>
                                    }


                                    @helper.form(action = controllers.routes.VehicleController.create()) {
                                        @helper.CSRF.formField


                                        <div class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label col-sm-3">Name</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="name" name="name" class="form-control">
                                                </div>
                                            </div>

                                            <div class="form-group">
                                                <label class="control-label col-sm-3">Orgnization</label>
                                                <div class="col-sm-9">
                                                    <input type="text" id="orgName" name="orgName" value="default" class="form-control">
                                                </div>
                                            </div>


                                            <div class="modal-footer">
                                                <button type="submit" class="btn btn-primary">Submit</button>
                                            </div>
                                        </div>


                                    }


                                </div>
                                    <!-- /marketing campaigns -->


                            </div>
                        </div>
                            <!-- /simple panel -->


                    </div>
                        <!-- /main content -->

                </div>
                    <!-- /page content -->

            </div>
                <!-- /page container -->


        </body>


    }