@(title: String, user: User)(implicit request: RequestHeader, messages: Messages)

@import helper._

@main(title) {
    <!-- User scripts -->

    <!-- Theme JS files -->
    <script type="text/javascript" src="@routes.Assets.at("js/plugins/tables/datatables/datatables.min.js")"></script>
        <!-- /theme JS files -->


} {


    <body class="navbar-bottom" data-ws-url-admin-dashboard="@controllers.routes.ApplicationController.dashBoardSocket().webSocketURL()">


        @partials._navbarMain(user)

            <!-- Page header -->
        <div class="page-header">

            <div class="page-header-content">
                <div class="page-title">
                    <h4><i class="icon-home"></i> <span class="text-semibold">Dashboard</span> </h4>
                </div>

            </div>
        </div>
            <!-- /page header -->


            <!-- Page container -->
        <div class="page-container">

                <!-- Page content -->
            <div class="page-content">

                @partials._sidebarMain()

                    <!-- Main content -->
                <div class="content-wrapper">

                        <!-- Simple panel -->
                    <div class="panel panel-flat">
                        <div class="panel-heading">
                            <h5 class="panel-title">Simple panel</h5>
                            <div class="heading-elements">
                                <ul class="icons-list">
                                    <li><a data-action="collapse"></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="panel-body">


                                <!-- Marketing campaigns -->
                            <div class="panel panel-flat">
                                <div class="panel-heading">
                                    <h6 class="panel-title">Dashboard</h6>
                                </div>

                            </div>
                                <!-- /marketing campaigns -->


                        </div>
                    </div>
                        <!-- /simple panel -->


                </div>
                    <!-- /main content -->

            </div>
                <!-- /page content -->

        </div>
            <!-- /page container -->



        @partials._footer(user)



    </body>


}